@page
@model IndexModel
@{
    ViewData["Title"] = "MyWebApp .NET - Laurent Souillard";
}

<div class="row">
    <div class="text-center col-md-3 d-flex align-items-center">
        <h1 class="m-5">Hello, world!</h1>
        <p>The time on the server is @DateTime.Now</p>
    </div>

    <div class="text-center col-md-3">
        <h1 class="display-4">MyWebApp .NET by Laurent Souillard</h1>
        <p class="text-danger m-5">Visit my Portfolio <a style="text-decoration: none;" href="https://www.souillardlaurent.ch/">I still looking for a any opportunity</a>.</p>
        <p>Learn about <a style="text-decoration: none;" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="text-center col-md-3 d-flex align-items-center">
        <h1 class="m-5">Hello, world! TEST Commit</h1>
        <p>The time on the server is @DateTime.Now</p>
    </div>
</div>